h2 {
  color: var(--color-text);
  margin: 0;
  letter-spacing: 1px;
  font-size: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

h3 {
  padding-left: 0.5em;
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  z-index: 1;
}
h3::before {
  content: "";
  width: 75%;
  height: 110%;
  background: linear-gradient(
      to left,
      rgba(0, 183, 70, 0.431),
      rgba(101, 172, 128, 0.431)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  left: -20px;
  bottom: -7px;

  position: absolute;
  z-index: -1;
}
section {
  display: flex;
  justify-content: center;
}
.content {
  max-width: 1300px;
  padding-bottom: 10em;
}
.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 5em;
  width: min(75%, 25em);
  background-color: var(--color-dark);
  border-radius: 5%;
}

.box a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: var(--color-text);
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.box a p {
  padding: 1em 1em 0 1em;
}
.code_lg {
  text-align: center;
}

.descr {
  margin-top: 0;
}

@media screen and (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .box {
    width: 25em;
  }
}

@media screen and (min-width: 1350px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .box {
    width: 25em;
  }
}
